body {
    font-family: 'Merriweather', serif;
    background-color: #eeeeee;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

/*h1, h2 {
    letter-spacing: 2px;
}*/

h1 {
    text-transform: uppercase;
    font-size: 5em;
    color: #006f79;
}

h2 {
    font-size: 2em;
    letter-spacing: 2px;
}

.landing-screen {
    text-align: center;
}

.project {
    height: 300px;
    max-width: 600px;
    margin: auto auto 30px auto;
}

.project-overlay {
    background-color: rgba(0, 0, 0, 0.5);

}

.project-cover {
    background-color: #3d3d3d;
    background-size: cover;
    background-position: center;
    height: 75%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .project-cover:hover {
        box-shadow: inset 0 0 0 8px #FFF;
        transition: box-shadow 0.15s ease-out;
        -webkit-transition: box-shadow 0.15s ease-out;
    }

    .planit {
        background-image: url("../images/PlanIt.png");
    }

    .wacm {
        background-image: url("../images/WACM.png");
    }

    .draw3D {
        background-image: url("../images/Draw3D.png");
    }

    .photo-booth {
        background-image: url("../images/PhotoBooth.jpg");
        background-position: top;
    }

.project-label {
    background-color: #FFF;
    color: #000;
    height: 25%;
    padding: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

    .project-label h3 {
        margin: 0 auto 0 auto;
    }

    .project-label p {
        margin: auto auto 0 auto;
    }