body {
    font-family: 'Merriweather', serif;
    background-color: #eeeeee;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

/*h1, h2 {
    letter-spacing: 2px;
}*/

h1 {
    text-transform: uppercase;
    /*font-size: 5em;*/
}

h2 {
    /*font-size: 2em;*/
}

a {
    text-decoration: underline;
}

    a:hover {
        color: #006f79;
        text-decoration: none;
    }

.jumbotron {
    text-align: center;
}

    .jumbotron h1 {
        color: #006f79;
    }

    .jumbotron a {
        font-size: 3em;
        color: #545454;
        margin: 0.25em;
    }

        .jumbotron a:hover {
            color: #006f79;
        }

.project {
    height: 300px;
    max-width: 600px;
    margin: auto auto 30px auto;
}

.project-overlay {
    height: 75%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #006f79;
}

    .project-overlay i {
        opacity: 0;
        color: #FFF;
        font-size: 4em;
        position: absolute;
        top: 37.5%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .project-overlay:hover i {
        opacity: 1;
        transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
        cursor: pointer;
        /* can fix opacity issue with z-index*/
    }


.project-cover {
    background-color: #3d3d3d;
    background-size: cover;
    background-position: center;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .project-cover:hover {
        opacity: 0.1;
        transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
        cursor: pointer;
    }

    .planit {
        background-image: url("../images/PlanIt.png");
    }

    .wacm {
        background-image: url("../images/WACM.png");
    }

    .draw3D {
        background-image: url("../images/Draw3D.png");
    }

    .photo-booth {
        background-image: url("../images/PhotoBooth.jpg");
        background-position: top;
    }

.project-label {
    background-color: #FFF;
    color: #000;
    height: 25%;
    padding: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

    .project-label h3 {
        margin: 0 auto 0 auto;
    }

    .project-label p {
        margin: auto auto 0 auto;
    }

.project-modal {
    background-color: #FFF;
    padding: 30px !important;
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.project-modal-content {
    max-width: 800px;
    margin: auto;
}

    .project-modal-content .close {
        font-size: 2em;
    }

    .project-modal-content h1, .project-modal-content p {
        text-align: center;
    }

    .project-modal-content img {
        width: 100%;
        display: flex;
        align-content: center;
    }

    .project-modal-content .carousel-inner {
        margin: 2em auto;
    }

    .project-modal-content .carousel-control {
        background-image: none;
    }

    .project-modal-content .carousel-caption {
        position: relative;
        left: auto;
        right: auto;
    }