@import "../styles/variables";

.header {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: $size-8 $size-10 $size-10 $size-10;

  h1 {
    margin-bottom: $size-7;
    animation: $animation-title;
  }

  .linkIcons {
    margin-top: $size-8;

    a {
      padding: 0 $size-4;
      height: fit-content;
      color: $color-icon;

      &:hover {
        color: $color-accent;
      }

      svg {
        width: auto;
        height: $size-8;
      }
    }
  }
}
