@import "../../styles/variables";

.passwordContainer {
  width: 32rem;
  margin-top: $size-10;
  text-align: center;
  border: 1px solid $color-icon;
  padding: $size-8;
  border-radius: $border-radius-large;
  background-color: $color-background-light;
  box-shadow: $tile-box-shadow;

  .passwordIcon {
    color: $color-icon;
    width: auto;
    height: $size-7;
    margin-bottom: $size-5;
  }

  .formContainer {
    width: fit-content;
    margin: $size-7 auto 0 auto;
  }

  .passwordForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $size-2;

    .passwordInput {
      @include body-2;
      color: $color-button;
      width: 12rem;
      padding: $size-1;
      border-top: none;
      border-right: none;
      border-bottom: 2px solid $color-button;
      border-left: none;
      outline: none;
      margin-right: $size-3;
      color: $color-text;
      background-color: $color-background-light;
      transition: border-color $transition-color;

      &:focus {
        border-color: $color-button-hover;
      }
    }

    .passwordButton {
      @include button-style;
    }
  }

  .passwordError {
    display: flex;
    align-items: center;
    justify-content: center;

    .passwordWarning {
      height: $size-3;
      width: auto;
      margin-right: $size-1;
    }
  }
}
