@import "../styles/variables";

$image-height: 26rem;

// Overrides for Bootstrap Modal
.modalContainer {
  padding: 0 !important;
  overflow: hidden !important;

  &.show .modalDialog {
    transform: none !important;
    transition: $transition-modal-out !important;
  }

  .modalDialog {
    max-width: none !important;
    margin: 0 !important;
    transform: translate(0, 100vh) !important;
    transition: $transition-modal-in !important;
  }

  .modalContent {
    height: 100vh;
    border: none;
    border-radius: 0;
    background-color: $color-background;
    overflow: auto;
    padding: $size-10 $size-9;
  }
}

.projectContent {
  max-width: 60rem;
  margin: 0 auto;

  .closeButton {
    position: absolute;
    top: $size-4;
    right: $size-4;
    border: none;
    outline: none;
    padding: $size-2;

    &:hover .closeIcon {
      color: $color-button-hover;
    }

    .closeIcon {
      width: auto;
      height: $size-7;
      color: $color-button;
      transition: color $transition-color;
    }
  }

  .projectHeader {
    text-align: center;
    margin-bottom: $size-9;

    h1 {
      animation: $animation-title;
    }
    h3 {
      animation: $animation-subTitle;
    }
  }

  .overview {
    .overviewTitle {
      margin-bottom: $size-2;
      color: $color-accent;
    }

    p {
      margin-bottom: $size-5;
    }
  }

  .contentDivider {
    margin: $size-8 0;
  }

  img,
  video {
    width: 100%;
    border-radius: $border-radius-large;
    margin: $size-2 0 $size-9 0;
    box-shadow: $tile-box-shadow;
  }

  video {
    outline: none;
    opacity: 0;
    transition: $transition-video-load;

    &.withCaption {
      margin-bottom: $size-4;
    }
  }

  .caption {
    margin-bottom: $size-9;
  }
}
