@import "../styles/variables";

// Overrides for Bootstrap Modal
.modalContainer {
  padding: 0 !important;
  overflow: hidden !important;

  &.show .modalDialog {
    transform: none !important;
  }

  .modalDialog {
    max-width: none !important;
    margin: 0 !important;
    transform: translate(0, 100vh) !important;
  }

  .modalContent {
    height: 100vh;
    border: none;
    border-radius: 0;
    background-color: $color-background;
    overflow: auto;
    padding: $size-10 $size-9;
  }
}

.projectContent {
  max-width: 900px;
  margin: 0 auto;

  .closeButton {
    position: absolute;
    top: $size-4;
    right: $size-4;
    border: none;
    outline: none;
    padding: $size-2;

    &:hover .closeIcon {
      color: $color-button-hover;
    }

    .closeIcon {
      width: auto;
      height: $size-6;
      color: $color-button;
    }
  }

  .modalHeader {
    text-align: center;
    margin-bottom: $size-9;

    h1 {
      animation: $animation-title;
    }
    h2 {
      animation: $animation-subTitle;
    }
  }

  .carouselImage {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
  }

  .carouselControl {
    width: $size-7;
    height: auto;
  }

  .carouselCaption {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    color: $color-text;
    text-align: left;
    padding: $size-7;
    background-color: $color-background-light;
  }

  // Overrides for Bootstrap Carousel
  .carousel-inner {
    border-radius: $border-radius-large;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 400px;
  }
}
