@import "../styles/variables";

$image-height: 26rem;

// Overrides for Bootstrap Modal
.modalContainer {
  padding: 0 !important;
  overflow: hidden !important;

  &.show .modalDialog {
    transform: none !important;
    transition: $transition-modal-out !important;
  }

  .modalDialog {
    max-width: none !important;
    margin: 0 !important;
    transform: translate(0, 100vh) !important;
    transition: $transition-modal-in !important;
  }

  .modalContent {
    height: 100vh;
    border: none;
    border-radius: 0;
    background-color: $color-background;
    overflow: auto;
    padding: $size-10 $size-9;
  }
}

.projectContent {
  max-width: 50rem;
  margin: 0 auto;

  .closeButton {
    position: absolute;
    top: $size-4;
    right: $size-4;
    border: none;
    outline: none;
    padding: $size-2;

    &:hover .closeIcon {
      color: $color-button-hover;
    }

    .closeIcon {
      width: auto;
      height: $size-7;
      color: $color-button;
      transition: color $transition-color;
    }
  }

  .projectHeader {
    text-align: center;
    margin-bottom: $size-9;

    h1 {
      animation: $animation-title;
    }
    h2 {
      animation: $animation-subTitle;
    }
  }

  .projectCarousel {
    .carouselImage {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: $image-height;
    }

    .carouselControl {
      width: $size-7;
      height: auto;
      filter: drop-shadow(0px 0px $size-1 rgba(0, 0, 0, 0.25));
    }

    .carouselCaption {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      color: $color-text;
      text-align: left;
      padding: $size-7;
      background-color: $color-background-light;
    }

    // Overrides for Bootstrap Carousel
    .carousel-inner {
      border-radius: $border-radius-large;
      box-shadow: $tile-box-shadow;
    }
    .carousel-control-next,
    .carousel-control-prev {
      opacity: 0.75;
      width: 8%;
      height: $image-height;
      transition: opacity $transition-color;
    }
  }

  .projectLinks {
    margin-top: $size-7;

    .projectButton {
      @include button-style;
      display: inline-block;
      margin-right: $size-4;
    }
  }
}
