$color-accent: #006f79;
$color-background: #eeeeee;
$color-background-light: #ffffff;
$color-text: #333;
$color-icon: #808080;
$color-button: rgba(0, 0, 0, 0.25);
$color-button-hover: rgba(0, 0, 0, 0.5);
