$color-accent: #006f79;
$color-background: #eeeeee;
$color-background-light: #ffffff;
$color-text: #333333;
$color-text-light: #ffffff;
$color-icon: #808080;
$color-button: #b3b3b3;
$color-button-hover: #808080;
