$color-accent: #006f79;
$color-accent-light: #4fa9b0;
$color-background: #eeeeee;
$color-background-light: #fcfcfc;
$color-text: #333333;
$color-text-light: #ffffff;
$color-icon: #808080;
$color-button: #acacac;
$color-button-hover: #808080;
