@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Merriweather&display=swap");

$font-title: "Josefin Sans", sans-serif;
$font-text: "Merriweather", serif;

// Headings
@mixin heading {
  font-family: $font-title;
  font-weight: 700;
}

@mixin heading-1 {
  @include heading;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@mixin heading-2 {
  @include heading;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

@mixin heading-3 {
  @include heading;
  font-size: 24px;
  line-height: 32px;
}

// Button
@mixin button-text {
  @include heading;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}

// Body
@mixin body {
  font-family: $font-text;
  font-weight: 400;
}

@mixin body-1 {
  @include body;
  font-size: 20px;
  line-height: 28px;
}

@mixin body-2 {
  @include body;
  font-size: 16px;
  line-height: 24px;
}

@mixin body-3 {
  @include body;
  font-size: 14px;
  line-height: 22px;
}
