@import "animations";
@import "borderRadius";
@import "breakpoints";
@import "colors";
@import "sizes";
@import "typography";

@mixin tile-box-shadow {
  @include themed() {
    box-shadow: 0 $size-1 $size-2 2px t($color-tile-shadow);
  }
}

@mixin button-style {
  @include button-text;
  padding: $size-2 $size-4;
  border-radius: $size-7;
  transition: background-color $transition-color;
  height: $size-7; // Fixes text vertical alignment issue
  border: none;
  outline: none;
  text-decoration: none;

  @include themed() {
    background-color: t($color-button);
    color: t($color-text-light);
  }

  &:hover {
    @include themed() {
      background-color: t($color-button-hover);
    }
  }
}

@mixin icon-button-style {
  position: fixed;
  top: $size-6;
  right: $size-6;
  border: none;
  outline: none;
  padding: $size-2;
  z-index: 1;
  border-radius: 100%;

  @include themed() {
    background-color: t($color-background);
  }

  &:hover svg {
    @include themed() {
      color: t($color-button-hover);
    }
  }

  svg {
    width: auto;
    height: $size-7;
    transition: color $transition-color;
    @include themed() {
      color: t($color-button);
    }
  }
}
