.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    margin-bottom: $size-7;
    animation: $animation-title;
  }

  p {
    max-width: 50rem;
  }

  .linkIcons {
    margin-top: $size-8;

    a {
      display: inline-block;
      padding: 0 $size-4;
      height: fit-content;
      transform: translateY(0);
      transition: $transition-hover-up, color $transition-color;
      color: var(--color-icon);

      &:hover {
        transform: translateY(-$size-1);
        transition: $transition-hover-down, color $transition-color;
        color: var(--color-accent);
      }

      svg {
        width: auto;
        height: $size-8;
      }
    }
  }
}
