@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Merriweather&display=swap");

// Colors
$color-accent: #006f79;
$color-background: #eeeeee;
$color-text: #333;
$color-icon: #808080;
$color-element: rgba(0, 0, 0, 0.25);
$color-element-hover: rgba(0, 0, 0, 0.5);

// Sizes (margin/padding)
$size-1: 4px;
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;
$size-7: 28px;
$size-8: 40px;
$size-9: 60px;
$size-10: 100px;

// Fonts
$font-title: "Josefin Sans", sans-serif;
$font-text: "Merriweather", serif;

@mixin title-style {
  font-family: $font-title;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@mixin text-style {
  font-family: $font-text;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
