* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  overflow: hidden;
  height: 100vh;

  @media screen and (min-width: $breakpoint-sm) {
    font-size: 14px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

h1 {
  @include heading-1;
  color: var(--color-accent);
  margin: 0 0 $size-2 0;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
  margin: $size-2 0 $size-3 0;
}

p {
  @include body-1;
  margin-bottom: $size-5;

  &.body2 {
    @include body-2;
    margin-bottom: 0;
  }
  &.body3 {
    @include body-3;
    margin-bottom: 0;
  }
}

b {
  font-weight: 700;
}

a {
  color: var(--color-accent);
  &:hover {
    color: var(--color-accent);
  }
}

button {
  cursor: pointer;
}

.app {
  overflow: hidden;
  height: 100vh;
}

.appContainer,
.modalContainer {
  transition: $transition-background-color, color $transition-color;
  background-color: var(--color-background);
  color: var(--color-text);

  ::selection {
    color: var(--color-text-light);
    background: var(--color-highlight);
  }
}

.appContainer {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-9;
  padding: $size-9 $size-8;

  @media (min-width: $breakpoint-md) {
    gap: $size-10;
    padding: $size-10 $size-9;
  }

  .themeToggle {
    @include icon-button-style;
  }

  .projectsGrid {
    width: 100%;
    max-width: 90rem;
    display: grid;
    gap: $size-7;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .footer {
    width: 100%;
    height: 4rem;
    text-align: center;
    padding: 0 $size-8;
    font-style: italic;
  }
}
