@import "variables.scss";

body {
  padding: 0;
  margin: 0;
  background-color: $color-background;
}

.app {
  height: 100%;
  padding: $size-9;

  h1 {
    color: $color-accent;
    @include title-style;
    padding: 0;
    margin: 0 0 $size-7 0;
  }

  p {
    color: $color-text;
    @include text-style;
    padding: 0;
    margin: 0;
  }
}
